@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  width: 800px;
  margin: auto;
}

.title {
  display: flex;
  align-items: baseline;
  gap: 7px;
}

.title > span {
  font-style: italic;
}

#buttons {
  display: flex;
  gap: 10px;
}

#buttons > a,
#button {
  text-align: center;
  flex: 1;
  background-color: lightblue;
  padding: 10px 32px;
  border-radius: 8px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu > div {
  padding: 20px 60px;
  border: 1px dotted black;
  border-radius: 8px;
}
